<hr class="m-0 bg-secondary">

<div class="container-md p-5 text-white bg-dark">
    <h1 class="text-center">MENU</h1>
</div>
<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3> {{menu_class_1}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_1}}
            {{{this}}}
            {{/menu_1}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_2"> {{menu_class_2}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_2}}
            {{{this}}}
            {{/menu_2}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_3"> {{menu_class_3}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_3}}
            {{{this}}}
            {{/menu_3}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_4"> {{menu_class_4}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_4}}
            {{{this}}}
            {{/menu_4}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_5"> {{menu_class_5}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_5}}
            {{{this}}}
            {{/menu_5}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_6"> {{menu_class_6}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_6}}
            {{{this}}}
            {{/menu_6}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_7"> {{menu_class_7}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_7}}
            {{{this}}}
            {{/menu_7}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_8"> {{menu_class_8}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_8}}
            {{{this}}}
            {{/menu_8}}
        </tbody>
    </table>
</div>

<div class="container-md p-5 text-white bg-dark">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" colspan="4">
                    <h3 id="mc_9"> {{menu_class_9}} </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {{#menu_9}}
            {{{this}}}
            {{/menu_9}}
        </tbody>
    </table>
</div>